<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whc.dao.RoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.whc.domain.entity.RoleMenu" >
    <id column="role_menu_id" property="roleMenuId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.whc.domain.entity.Menu">
    <id column="menu_id" property="menuId" jdbcType="BIGINT"/>
    <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="parent_name" property="parentName" jdbcType="VARCHAR"/>
    <result column="path" property="path" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_people" property="createPeople" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="update_people" property="updatePeople" jdbcType="VARCHAR"/>
    <result column="sort_no" property="sortNo" jdbcType="BIGINT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    role_menu_id, role_id, menu_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_role_menu
    where role_menu_id = #{roleMenuId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_role_menu
    where role_menu_id = #{roleMenuId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteMenuByRoleId" parameterType="Long">
    delete from t_role_menu
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByMenuId" parameterType="java.lang.Long">
      delete from t_role_menu
      where menu_id = #{menuId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.whc.domain.entity.RoleMenu" >
    insert into t_role_menu (role_menu_id, role_id, menu_id
      )
    values (#{roleMenuId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whc.domain.entity.RoleMenu" >
    insert into t_role_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleMenuId != null" >
        role_menu_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleMenuId != null" >
        #{roleMenuId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whc.domain.entity.RoleMenu" >
    update t_role_menu
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=BIGINT},
      </if>
    </set>
    where role_menu_id = #{roleMenuId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whc.domain.entity.RoleMenu" >
    update t_role_menu
    set role_id = #{roleId,jdbcType=BIGINT},
      menu_id = #{menuId,jdbcType=BIGINT}
    where role_menu_id = #{roleMenuId,jdbcType=BIGINT}
  </update>
  <select id="selectMenuByRoleId" resultMap="BaseResultMap1" parameterType="Long">
    select
    t1.menu_id, t1.parent_id, t1.name, t1.parent_name, t1.path, t1.create_time, t1.create_people, t1.update_time,
    t1.update_people, t1.sort_no
    from t_menu as t1 inner join t_role_menu as t2 on t1.menu_id = t2.menu_id
    where
    role_id = #{roleId,jdbcType=BIGINT}
  </select>
</mapper>