<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whc.dao.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.whc.domain.entity.Supplier" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="delivery_fee" property="deliveryFee" jdbcType="DECIMAL" />
    <result column="delivery_amount" property="deliveryAmount" jdbcType="DECIMAL" />
    <result column="delivery_service" property="deliveryService" jdbcType="VARCHAR" />
    <result column="delivery_scale" property="deliveryScale" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, contact_person, phone, address, delivery_fee, delivery_amount, delivery_service, 
    delivery_scale, status, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_supplier
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="list" parameterType="com.whc.domain.entity.Supplier" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_supplier
    where
    1 = 1
    <include refid="whereStatement"></include>
  </select>
  <sql id="whereStatement">
    <if test="name != null and name !=''" >
      and name like CONCAT(#{name,jdbcType=VARCHAR},'%')
    </if>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_supplier
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.whc.domain.entity.Supplier" >
    insert into t_supplier (id, name, contact_person, 
      phone, address, delivery_fee, 
      delivery_amount, delivery_service, delivery_scale, 
      status, add_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{contactPerson,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{deliveryFee,jdbcType=DECIMAL}, 
      #{deliveryAmount,jdbcType=DECIMAL}, #{deliveryService,jdbcType=VARCHAR}, #{deliveryScale,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whc.domain.entity.Supplier" >
    insert into t_supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="contactPerson != null" >
        contact_person,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="deliveryFee != null" >
        delivery_fee,
      </if>
      <if test="deliveryAmount != null" >
        delivery_amount,
      </if>
      <if test="deliveryService != null" >
        delivery_service,
      </if>
      <if test="deliveryScale != null" >
        delivery_scale,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFee != null" >
        #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="deliveryAmount != null" >
        #{deliveryAmount,jdbcType=DECIMAL},
      </if>
      <if test="deliveryService != null" >
        #{deliveryService,jdbcType=VARCHAR},
      </if>
      <if test="deliveryScale != null" >
        #{deliveryScale,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whc.domain.entity.Supplier" >
    update t_supplier
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        contact_person = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFee != null" >
        delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="deliveryAmount != null" >
        delivery_amount = #{deliveryAmount,jdbcType=DECIMAL},
      </if>
      <if test="deliveryService != null" >
        delivery_service = #{deliveryService,jdbcType=VARCHAR},
      </if>
      <if test="deliveryScale != null" >
        delivery_scale = #{deliveryScale,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whc.domain.entity.Supplier" >
    update t_supplier
    set name = #{name,jdbcType=VARCHAR},
      contact_person = #{contactPerson,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      delivery_amount = #{deliveryAmount,jdbcType=DECIMAL},
      delivery_service = #{deliveryService,jdbcType=VARCHAR},
      delivery_scale = #{deliveryScale,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>