<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whc.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.whc.domain.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="username" property="username" jdbcType="VARCHAR"></result>
        <result column="real_name" property="realname" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <result column="user_status" property="userStatus" jdbcType="VARCHAR"></result>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"></result>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"></result>
    </resultMap>
    <sql id="BaseColumnList">
        id, username, real_name, password,user_status, add_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
        select
        <include refid="BaseColumnList" />
        from t_user
        where id = #{id, jdbcType = INTEGER}
    </select>
    <insert id="insertOne" parameterType="com.whc.domain.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(username, real_name, password,user_status, add_time, update_time)
        values(
        #{username, jdbcType=VARCHAR},
        #{realname, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{userStatus, jdbcType=CHAR},
        #{addTime, jdbcType=TIMESTAMP},
        #{updateTime, jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="update" parameterType="com.whc.domain.entity.User">
        update t_user set
        real_name = #{realname,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        user_status = #{userStatus,jdbcType=CHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id, jdbcType = INTEGER}
    </update>
    <delete id="deleteById" parameterType="Long">
        delete from t_user where id = #{id, jdbcType = INTEGER}
    </delete>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList" />
        from t_user
    </select>
    <select id="findByName" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList" />
        from t_user
        where
        username=#{username,jdbcType=VARCHAR}
        limit 1
    </select>
    <select id="list" resultMap="BaseResultMap" parameterType="com.whc.domain.entity.User">
        select
        <include refid="BaseColumnList"/>
        from t_user
        <where>
        1=1
            <if test="username != null and username!=''">
                and username like "%"#{username,jdbcType=VARCHAR}"%"
            </if>
            <if test="realname != null and realname!=''">
                and real_name like "%"#{realname,jdbcType=VARCHAR}"%"
            </if>
            <if test="userStatus != null and userStatus!=''">
                and user_status like "%"#{userStatus,jdbcType=CHAR}"%"
            </if>
        </where>
    </select>
</mapper>